<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartón de Bingo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style_cartela.css') }}">
</head>
<body>
    <div class="container">
        <h1>Cartón de Bingo</h1>
        <table id="bingo-table">
            <thead>
                <tr>
                    <th>B</th>
                    <th>I</th>
                    <th>N</th>
                    <th>G</th>
                    <th>O</th>
                </tr>
            </thead>
            <tbody>
                {% for fila in carton %}
                    <tr>
                        {% for numero in fila %}
                            <td>{{ numero }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
